body,table {
    text-align: center;
}
img {
    width: 250px;
    height: 250px;
}
table{
    width: 500px;
    margin: 0 auto;
    border: 2px solid blue;
}
th{
    color: green;
    font-size: larger;
    font-weight: bold;
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}